<h2>Create Category</h2>
<form action="/api/categoria/crearCategoria" method="post">
<label for="nombre">Nombre de categoria</label>
<input type="text" id="nombre" name="name">
<br>
<button type="submit">Enviar</button>
</form>